<div id="app" v-cloak>
    <div class="row">
        <div class="col-12">
            <button class="btn btn-outline-dark me-2 btn-sm" v-on:click="listarUsuarios">
                <i class="fas fa-sync"></i>
                Obtener usuarios
            </button>
            <button class="btn btn-dark btn-sm" data-bs-toggle="modal" data-bs-target="#mdRegistro">
                <i class="fas fa-add"></i>
                Agregar usuario
            </button>
        </div>
    </div>
    <div class="row mt-3">
        <div v-if="listaUsuarios.length === 0" class="col-12 text-center">
            <div class="alert alert-warning">
                No existen registros disponibles.
            </div>
        </div>
        <div v-for="usuario in listaUsuarios" :key="usuario.Id" class="col-md-3 col-sm-12 mb-4">
            <div class="card">
                <img :src="usuario.Avatar" class="card-img-top rounded-circle mx-auto mt-3" alt="Avatar de Usuario" style="width: 150px; height: 150px;">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ usuario.Nombres }} {{ usuario.Apellidos }}</h5>
                    <p class="card-text"># Documento: {{ usuario.NumeroDocumento }}</p>
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-primary btn-sm me-2" v-on:click="obtenerUsuario(usuario)">
                        <i class="fas fa-eye me-2"></i>
                        Detalle
                    </button>
                    <button class="btn btn-danger btn-sm me-2" v-on:click="eliminarUsuario(usuario.Id)">
                        <i class="fas fa-trash me-2"></i>
                        Eliminar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="mdRegistro" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registerModalLabel">
                        <span v-if="!flgEditar">Registro de Usuario</span>
                        <span v-if="flgEditar">Modificar de Usuario</span>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body position-relative">
                    <div class="text-center">
                        <div v-if="obtenerUsuSpinner" class="spinner-overlay justify-content-center align-items-center">
                            <div class="spinner-border text-primary" role="status">
                                <span class="visually-hidden">Cargando...</span>
                            </div>
                        </div>
                        <img id="avatar" :src="usuario.Avatar" class="rounded-circle mb-3 avatar-img" alt=""/>
                        <button id="generateAvatarBtn"
                                class="btn btn-secondary d-block mx-auto mb-3"
                                v-on:click="generarAvatar"
                                :disabled="cargaAvatarSpinner">
                            <span v-if="cargaAvatarSpinner"
                                  class="spinner-border spinner-border-sm me-2"
                                  role="status"
                                  aria-hidden="true"></span>
                            Generar Avatar
                        </button>
                    </div>
                    <form id="frmRegistro">
                        <div class="mb-2">
                            <label class="form-label">Nombres</label>
                            <input type="text" class="form-control"
                                   maxlength="100"
                                   v-model="usuario.Nombres"
                                   v-solo-texto
                                   required>
                        </div>
                        <div class="mb-2">
                            <label class="form-label">Apellidos</label>
                            <input type="text" class="form-control" 
                                   maxlength="100"
                                   v-model="usuario.Apellidos"
                                   v-solo-texto
                                   required>
                        </div>
                        <div class="mb-2">
                            <label class="form-label">Número de Documento</label>
                            <input type="text" class="form-control" 
                                   maxlength="11"
                                   v-model="usuario.NumeroDocumento"
                                   v-solo-numeros
                                   required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-dark"
                            :disabled="guardarUsuarioSpinner"
                            v-on:click="guardar">
                        <span v-if="guardarUsuarioSpinner"
                              class="spinner-border spinner-border-sm me-2" 
                              role="status" 
                              aria-hidden="true"></span>
                        <i class="fas fa-save me-2"></i>
                        Guardar
                    </button>
                    <button 
                        class="btn"
                        v-on:click="cerrarModal">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="/js/app/usuario.js" asp-append-version="true"></script>
}
